github-profile-card {
    display: flex;
    flex-direction: column;
    /*background-color: #9CEFFF;*/
    background: linear-gradient(to bottom, #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 84%,#2ab0ed 100%);
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    width: 650px;
}